<!DOCTYPE html>
<html lang="en" ng-app="LunchChecker">
<head>
  <meta charset="UTF-8">
  <title>Module 1 Solution</title>

  <script src="angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body>
  <div class="container" ng-controller="LunchCheckController">
    <div class="row">
      <div class="col-md-12">
        <h2>Module 1 Assignment</h2>
        <p>
          <label ng-for="food">Enter food items: </label>
          <input type="text" ng-model="item" ng-class="{ok: itemok, itemnot: itemok == false}">
          <br> <br> <button ng-click="checkItems();">Check if too much</button>
        </p>
        <p>

          <output ng-class="{ok: itemok, itemnot: !itemok}">{{message}}</output>
        </p>
          <h6> <b>NOTE:</b> ",," or " , ," is not considered as an empty item.</h6>
      </div>
    </div>
    <footer class="row">
      <div class="col-md-12">

      </div>
    </footer>
  </div>
</body>
</html>
